.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

hr {
  margin: 0.9rem 0;
  border: 1px dashed $medium-color;
}

.text-primary {
  color: $main-color !important;
}

//Padding
.py {
  &-1 {
    padding: 1rem 0 !important;
  }
  &-2 {
    padding: 2rem 0 !important;
  }
  &-3 {
    padding: 3rem 0 !important;
  }
  &-4 {
    padding: 4rem 0 !important;
  }
}

//Margin
.my {
  &-1 {
    margin: 1rem 0 !important;
  }
  &-2 {
    margin: 2rem 0 !important;
  }
  &-3 {
    margin: 3rem 0 !important;
  }
  &-4 {
    margin: 4rem 0 !important;
  }
}

//Buttons
%btn-shared {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none !important;
  box-shadow: none;
  font-size: 1rem;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #fff;
    background-color: $main-color;
  }

  &-shop-now {
    @extend %btn-shared;
    color: #feffff;
    background-color: $main-color-dark;
    letter-spacing: 2px;
    margin-top: 1rem;
    border: 0;
    border: 1px solid $main-light-color;
    border-radius: 0;
  }

  &-view-all {
    @extend %btn-shared;
    color: #fff;
    background-color: $main-color;
    letter-spacing: 2px;
    margin-top: 1rem;
    border: 0;
    padding: 0.8rem 2rem;
  }

  &-filter {
    @extend %btn-shared;
    color: #fff;
    background-color: $secondary-color;
    letter-spacing: 2px;
    margin-top: 1rem;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0;
  }

  &-add-to-cart {
    @extend %btn-shared;
    border-radius: 0;
    padding: 0.5rem 0.5rem;
    border: 1px solid $main-color;
    font-size: 0.9rem;
    //font-weight: bold;
    background-color: $main-light-color;
    margin-top: 0.7rem;
    letter-spacing: 1px;
    width: 100%;
  }
  &-small {
    @extend %btn-shared;
    //color: black
    border-radius: 0;
    background-color: $main-light-color;
    padding: 0.5rem 1rem;
    border: 1px solid $main-color;
    letter-spacing: 1px;
  }
  &-view-cart {
    @extend %btn-shared;
    border-radius: 0;
    padding: 0.4rem;
    border: 1px solid $main-color;
    font-size: 0.9rem;
    //font-weight: bold;
    background-color: transparent;
    margin-top: 0.9rem;
    letter-spacing: 1px;
    width: 50%;
    text-align: center;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  //background-color: set-btn-hover-color($main-color);
  //color: set-text-color($main-color);
  box-shadow: none;
  outline: none;
  z-index: 0;
}

button[class^="btn-"]:focus,
a[class^="btn-"]:focus,
input[class^="btn-"]:focus {
  box-shadow: none;
  outline: none;
}

.paginate-links {
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
      a {
        border-radius: 0;
        padding: 0.5rem 1rem;
        margin: auto 0.1rem;
        border: rgba(0, 0, 0, 0.1) 0.5px solid;
        &:hover,
        &.current {
          background-color: $main-color;
          color: $light-color;
        }
      }
    }
  }
}

input,
select,
textarea {
  border: 1px $light-color solid;
  padding: 10px;
  font-size: 1rem;
  //height: 25px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px $main-color solid;
}

.stars {
  $percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: $star-size;
  line-height: 1;

  &:before {
    content: "★★★★★";
    //letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      $star-color $percent,
      $star-background $percent
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Email Form */
.email-form,
.sub-form,
.aside-form {
  display: inline-block;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  line-height: 0;
  margin-bottom: 1rem;
  .form-sub {
    display: inline-block;
    //border: 1px solid #555;
    outline: 0;
    font-size: 0.9rem;
    color: #555;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: $main-color;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: $secondary-color;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
}

.email-form {
  width: 100%;
}

/* Sub Form */
.sub-form {
  width: 90%;
}

.aside-form {
  .form-sub {
    height: 40px;
  }
}

.user-ratings {
  direction: rtl;
  display: inline-block;

  input[type="radio"] {
    display: none;
    &:checked ~ label {
      color: $star-color;
    }
  }
  label {
    color: $star-background;
    padding-right: 1rem;
    //margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: 1.3rem;

    &:hover,
    &:hover ~ label {
      color: $star-color;
    }
  }
}

#slide-cart {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #feffff;
  width: 25%;
  height: 100%;
  border-left: 1px solid #ccc;
  z-index: 2;
  opacity: 0.95;
  //padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;

  &.show-cart {
    transform: translateX(0);
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color-dark;
    padding: 1rem 2rem;
    color: #feffff;

    #cart-close {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .cart-items-wrap {
    padding: 2rem;
    max-height: 60vh;
    overflow: scroll;
    //background-color: red;
    .cart-items-single {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.6rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $medium-color;

      &:last-child {
        border-bottom: 0;
      }
      .cart-item-img {
        width: 90px;
        height: 90px;
        margin-right: 1.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .cart-item-text {
        &-name {
          font-size: 1rem;
          font-weight: bold;
          color: $text-color;
          margin-bottom: 0.5rem;
        }
        &-price {
          font-size: 1.1rem;
          color: $dark-color;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
      }
      .cart-item-remove {
        font-size: 1.5rem;
        height: 100%;
        margin-left: 1.2rem;
        cursor: pointer;
        color: red;
      }
    }
  }

  .cart-total {
    padding: 2rem;

    &-head,
    &-price {
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
    &-sub {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-delivery {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-all {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-price {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}

.quantity-control {
  display: flex;
  align-items: center;
  input[type="number"] {
    height: 30px;
    box-shadow: none;
    outline: none;
    border: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    height: 30px;
    width: 25px;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    border: 0;
    margin: 0;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
