@import "config";
@import "utilities";
// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
  background: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.15rem;
}

img {
  width: 100%;
}
p {
  margin: 0.3rem 0;
}

div[class^="btn-"],
.btn-group {
  outline: 0;
  box-shadow: 0;
  border: 0;
  &:focus,
  &:hover {
    outline: 0;
    box-shadow: 0;
    border: 0;
  }
}

#main-nav {
  display: flex;
  //position: sticky;
  //top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  //background: $secondary-color;
  z-index: 1;
  //color: #fff;
  ul {
    display: flex;
    li {
      position: relative;
      padding: 1rem 1.5rem;
    }

    a {
      text-decoration: none !important;
      //color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
      font-size: 0.8rem;

      &:hover {
        color: $main-color;
      }
      &.current {
        color: $main-color;
      }
    }
  }
}

#minor-nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  //padding: 0.2rem 2rem;
  background: $main-color;
  z-index: 1;
  color: #feffff;
  .parent-sub-menu {
    position: relative;
    cursor: pointer;
    .nav-sub-menu {
      display: block;
      position: absolute;
      top: 2.5rem;
      background-color: red;
    }

    // &:hover {
    //   .nav-sub-menu {
    //     display: block;
    //     position: absolute;
    //     top: 2.5rem;
    //     background-color: red;
    //   }
    // }
  }

  .minor-nav-list {
    display: flex;
    li {
      padding: 1rem 1.5rem;
    }

    a {
      text-decoration: none !important;
      color: #feffff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
      font-size: 0.8rem;

      &:hover {
        color: $secondary-color;
      }
      &.current {
        color: $secondary-color;
      }
    }
  }
}

.slideshow-container {
  position: relative;

  .slideshow {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 600px;
    color: #fff;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;

      display: flex;

      justify-content: center;
      align-items: center;
      text-align: center;

      &:first-child {
        background: url("../img/slide1.jpg") no-repeat center center/cover;
      }
      &:nth-child(2) {
        background: url("../img/slide2.jpg") no-repeat center center/cover;
      }
      &:nth-child(3) {
        background: url("../img/slide3.jpg") no-repeat center center/cover;
      }

      .content {
        padding: 1.5rem;
        width: 70%;

        h1 {
          font-size: 3rem;
          background-color: $overlay-color;
          padding: 2rem;
          letter-spacing: 10px;
        }

        p {
          letter-spacing: 5px;
          font-size: 1.5rem;
          margin: 20px 0;
        }
      }
    }

    .active-slide {
      opacity: 1;
    }
  }
}

button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}
.btn-slide {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;

  &:hover {
    background-color: #feffff;
    color: $secondary-color;
  }
}

#prod-sec {
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    .new-arrival {
      //background-color: red;
      &-prod {
        margin: 1rem auto;
        &-content {
          display: flex;
          margin: 2rem auto;
          //justify-content: center;
          .prod-img {
            flex: 1;
            width: 100%;
            height: 120px;
            margin-right: 1rem;
            //border: 1px solid grey;
            border-radius: 2px;
            padding: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .prod-text {
            flex: 2;
            &-name {
              font-size: 1rem;
              font-weight: bold;
              color: $text-color;
            }
            &-price {
              .old-price {
                font-size: 1rem;
                color: $medium-color;
                margin-right: 0.5rem;
              }
              .new-price {
                font-size: 1.1rem;
                color: $dark-color;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .best-sellers {
      //background-color: red;
      &-prod {
        margin: 1rem auto;
        &-content {
          display: flex;
          margin: 2rem auto;
          //justify-content: center;
          .prod-img {
            flex: 1;
            width: 100%;
            height: 120px;
            margin-right: 1rem;
            //border: 1px solid grey;
            border-radius: 2px;
            padding: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .prod-text {
            flex: 2;
            &-name {
              font-size: 1rem;
              font-weight: bold;
              color: $text-color;
            }
            &-price {
              .old-price {
                font-size: 1rem;
                color: $medium-color;
                margin-right: 0.5rem;
              }
              .new-price {
                font-size: 1.1rem;
                color: $dark-color;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .featured {
      //background-color: red;
      &-prod {
        margin: 1rem auto;
        &-content {
          display: flex;
          margin: 2rem auto;
          //justify-content: center;
          .prod-img {
            flex: 1;
            width: 100%;
            height: 120px;
            margin-right: 1rem;
            //border: 1px solid grey;
            border-radius: 2px;
            padding: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .prod-text {
            flex: 2;
            &-name {
              font-size: 1rem;
              font-weight: bold;
              color: $text-color;
            }
            &-price {
              .old-price {
                font-size: 1rem;
                color: $medium-color;
                margin-right: 0.5rem;
              }
              .new-price {
                font-size: 1.1rem;
                color: $dark-color;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.market-info {
  background-color: $main-color-dark;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;

    i {
      margin-right: 1.5rem;
    }
    .m-text {
      .head-text {
        font-size: 1.2rem;
      }
      .head-content {
        font-size: 0.9rem;
      }
    }
  }
}

#info {
  .info-links {
    display: flex;
    justify-content: space-evenly;

    h3 {
      font-size: 1rem;
      font-weight: bold;
      color: $text-color;
      letter-spacing: 3px;
      margin-bottom: 1.5rem;
    }

    &-contact {
      div {
        margin-bottom: 0.8rem;
        i {
          color: $secondary-color;
          margin-right: 0.8rem;
        }
        span {
          font-size: 0.9rem;
          letter-spacing: 1.5px;
        }
      }
    }
    &-quicklinks {
      li a {
        font-size: 0.9rem;
        color: $secondary-color;
        &:hover {
          color: $main-color;
        }
      }
    }
    &-followus {
      .social-media {
        display: flex;
        justify-content: space-between;
        //align-items: center;
        i {
          //margin-right: 0.5rem;
          font-size: 1.5rem;
          color: #555;
          border-radius: 50%;

          &:hover {
            color: $main-color;
          }
        }
      }
      .app-platforms {
        h4 {
          margin: 0.9rem auto;
        }
        .appstore {
          //background-color: red;
          height: 40px;
          width: 80%;
          margin-top: 0.5rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &-sub {
      p {
        font-size: 0.9rem;
        letter-spacing: 1.5px;
      }
    }
  }
}

#main-sec {
  display: flex;
  justify-content: center;
  // align-items: center;
  margin: auto 5rem;
  h4 {
    margin-bottom: 1rem;
  }

  &-aside {
    flex: 1;
    margin-right: 1rem;
    padding: 1.5rem;
    background-color: $main-light-color;
    border-radius: 3px;

    .aside-price {
      width: 100%;
      .form-group-wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          width: 50%;
          font-size: 0.9rem;
          color: #555;
          outline: 0;
          border-radius: 5px;
          box-sizing: border-box;
          font-family: inherit;
        }
        .price-from {
          margin-right: 1rem;
        }
      }
      // .slider {
      //   position: relative;
      //   z-index: 1;
      //   height: 10px;
      //   margin: 1rem 20px;

      //   .track {
      //     position: absolute;
      //     z-index: 1;
      //     left: 0;
      //     right: 0;
      //     top: 0;
      //     bottom: 0;
      //     border-radius: 5px;
      //     background-color: $medium-color;
      //   }
      //   .range {
      //     position: absolute;
      //     z-index: 2;
      //     left: 25%;
      //     right: 25%;
      //     top: 0;
      //     bottom: 0;
      //     border-radius: 5px;
      //     background-color: $main-color;
      //   }
      //   .thumb {
      //     position: absolute;
      //     z-index: 3;
      //     width: 30px;
      //     height: 30px;
      //     background-color: $secondary-color;
      //     border-radius: 50%;
      //   }

      //   .thumb.left {
      //     left: 25%;
      //     transform: translate(-15px, -10px);
      //   }
      //   .thumb.right {
      //     right: 25%;
      //     transform: translate(15px, -10px);
      //   }
      // }
      // input[type="range"] {
      //   position: absolute;
      //   pointer-events: none;
      //   -webkit-appearance: none;
      //   z-index: 2;
      //   height: 10px;
      //   width: 100%;
      //   opacity: 0;
      // }

      // input[type="range"]::-webkit-slider-thumb {
      //   pointer-events: all;
      //   height: 30px;
      //   width: 30px;
      //   border-radius: 0;
      //   border: 0 none;
      //   background-color: red;
      //   -webkit-appearance: none;
      // }

      // #input-left {
      //   top: -100px;
      // }
      // #input-right {
      //   top: -50px;
      // }
    }
  }
  &-prod {
    flex: 4;
    background-color: #feffff;
    padding: 0 1.5rem;

    .main-prod-view {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1rem;
      &-single {
        //border: 1px solid $medium-color;
        padding: 0 1rem 1rem 1rem;
        border-radius: 3px;

        .prod-img {
          width: 100%;
          height: 150px;
          //border: 1px solid grey;
          margin-bottom: 0.4rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .prod-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &-name {
            font-size: 1rem;
            font-weight: bold;
            color: $text-color;
            margin-bottom: 0.4rem;
          }
          &-price {
            margin-top: 0.3rem;
            .old-price {
              font-size: 1rem;
              color: $medium-color;
              margin-right: 0.5rem;
            }
            .new-price {
              font-size: 1.1rem;
              color: $dark-color;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

footer {
  background: $main-color;
  padding: 1.5rem;
  color: $light-color;
  text-align: center;
}
